<div class="container login-background min-vh-100">
    <div class="login-imagen-background row min-vh-100 justify-content-center align-items-center">
        <div class="container">
            <div class="container login-card" style="background-color: #f20016;">
                <div class="col-auto m-4">
                    <div class="row" style="font-family: Roboto;">
                        <div class="d-flex justify-content-center align-items-center col-md-7 p-4">
                            <div class="col-md-12" style="text-align: center;">
                                <div style="width: 400px;margin: auto;">
                                    <div
                                        style="font-size: 80px;color: white;font-weight: 700;text-align: center;line-height: 70px;">
                                        GRC</div>
                                    <div class="col-md-12"
                                        style="font-size: 27px;color: white;text-align: justify;line-height: 29px;">
                                        PLATAFORMA GOBIERNO,
                                    </div>
                                    <div class="col-md-12"
                                        style="font-size: 27px;color: white;text-align: justify;line-height: 29px;">
                                        RIESGO Y CUMPLIMIENTO
                                        <p
                                            style="margin-top: 7px;margin-right: 5px;border: 0;background-color: white;height: 2px;">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 bg-light p-2 login-form col-10 mx-auto mb-3">
                            <div class="text-center m-5">
                                <img src="assets/imagenes/logoFonafe.png" class="col-md-12 col-12">
                            </div>
                            <div class="container">
                                <form [formGroup]="formularioContrasenia" (ngSubmit)="actualizarContrasenia()">
                                    <br>
                                    <b><h1>Establecer Contraseña :</h1></b>  
                                    <fieldset class="border p-2 animated fadeIn" style="margin-bottom: 50px;">

                                        <div class="container">
                                            <div class="row">



                                                <div class="form-group col-sm-12 mb-2">
                                                    <label for="contraseniaActual" class="mb-2">Contraseña
                                                        temporal</label>
                                                    <input type="password" class="form-control"
                                                        formControlName="contraseniaActual" id="contraseniaActual"
                                                        placeholder="Ingrese la clave temporal" autocomplete="nope">
                                                    <!-- [class.is-invalid]="contraseniaActualNoValido"  -->
                                                    <label id="validation-contraseniaActual-error"
                                                        class="error jquery-validation-error small form-text invalid-feedback">Ingrese
                                                        un
                                                        valor válido</label>
                                                </div>
                                                <div class="form-group col-sm-12 mb-2 p-fluid">
                                                    <label for="nuevaContrasenia" class="mb-2">Nueva Contraseña</label>
                                                    <!-- <p-password class="form-contrasenia" formControlName="nuevaContrasenia"
                                                        [class.is-invalid]="nuevaContraseniaNoValido" tooltipPosition="bottom" pTooltip="Sugerencia:
                                                            - Mínimo 8 caracteres
                                                            - Minúsculas y mayúsculas
                                                            - Numérico y caracteres especiales" id="nuevaContrasenia" weakLabel="Débil"
                                                        mediumLabel="Medio" strongLabel="Fuerte" promptLabel="Ingrese la nueva contraseña"
                                                        autocomplete="nope"></p-password> -->

                                                    <input type="password" class="form-control"
                                                        formControlName="nuevaContrasenia"
                                                        [class.is-invalid]="nuevaContraseniaNoValido"
                                                        id="nuevaContrasenia" placeholder="Ingrese la nueva contraseña"
                                                        autocomplete="nope" />
                                                    <!-- <label id="validation-nuevaContrasenia-error"
                                                           class="error jquery-validation-error small form-text invalid-feedback">Ingrese un valor válido</label> -->
                                                    <div *ngIf="formularioContrasenia.get('nuevaContrasenia').invalid && formularioContrasenia.get('nuevaContrasenia').touched"
                                                        class="invalid-feedback">
                                                        <small
                                                            *ngIf="formularioContrasenia.get('nuevaContrasenia').errors.required">La
                                                            contraseña es requerida.</small>
                                                        <small
                                                            *ngIf="formularioContrasenia.get('nuevaContrasenia').errors.minlength">La
                                                            contraseña debe tener al menos 8 caracteres.</small>
                                                        <small
                                                            *ngIf="formularioContrasenia.get('nuevaContrasenia').errors.passwordStrength">La
                                                            contraseña debe tener al menos una letra mayúscula, una
                                                            letra
                                                            minúscula, un número y un carácter especial.</small>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12 mb-2">
                                                    <label for="confirmContrasenia" class="mb-2">Confirmar
                                                        Contraseña</label>
                                                    <input type="password" class="form-control"
                                                        formControlName="confirmContrasenia"
                                                        [class.is-invalid]="confirmContraseniaNoValido"
                                                        id="confirmContrasenia" placeholder="Ingrese la nueva contraseña" autocomplete="nope"
                                                        [ngClass]="{'is-invalid': formularioContrasenia.hasError('passwordMismatch') && formularioContrasenia.get('confirmContrasenia').touched}" />
                                                    <!--  <label id="validation-confirmContrasenia-error"
                                                           class="error jquery-validation-error small form-text invalid-feedback">Ingrese un valor válido</label> -->
                                                    <div *ngIf="formularioContrasenia.hasError('passwordMismatch') && formularioContrasenia.get('confirmContrasenia').touched"
                                                        class="invalid-feedback">
                                                        <small>Las contraseñas no coinciden.</small>
                                                    </div>
                                                </div>
                                                <div class="container card-body p-text-right"
                                                    style="margin-left: -15px;">
                                                    <button type="submit" class="btn btn-primary"
                                                        style="margin-right: 10px;">Guardar
                                                    </button>
                                                    <button type="button" class="btn btn-danger"
                                                        [routerLink]="['../menu']">Cancelar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>