.p-column-filter-buttonbar{
    display: none !important;
}

/**/

.combo-box-class {
  width: 100%;
  max-width: 180px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  appearance: none;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  box-shadow: none;
  text-align: left;

  &:hover {
    border-color: #999;
  }

  &:focus {
    outline: none;
    border-color: #5a9cf3;
  }
}

.combo-box-class option {
  background-color: #ffffff;
  color: #333;
  padding: 8px 10px;
  font-size: 14px;
}