<p-toast></p-toast>
<!-- Dialogo Modificacion Proceso-->
<p-dialog header="Actualizar Proceso" [(visible)]="DisplayProcesosel" [style]="{width: '40vw'}">
    
    <div class="container">


        <div class="form-group col-sm-12 mb-4">
            <label for="float-input" class="mb-2">Descripción</label>
                <input id="float-input" class="form-control" type="text" [(ngModel)]="SelectedDes" pInputText> 
                
        </div>
        
        <div class="form-group col-sm-12 mb-4" *ngIf="procesoMatriz != null && editar == true && this.mostrarEstadoProc == true ">
            <label for="indicadorBaja" class="mb-2">Estado</label>
            <br>
            <p-inputSwitch (onChange)="obtenerValorEstadoProc($event)"
                [(ngModel)]="indicadorEstadoProc"></p-inputSwitch>
        </div>

        <div class="container card-body p-text-right">

            <button type="button" class="btn btn-primary" (click)="ModificarProceso()" >
                Actualizar
            </button>

        </div>     

    </div>

</p-dialog>

<!-- Dialogo Modificacion SubProceso-->
<p-dialog header="Actualizar Subproceso" [(visible)]="DisplaySubProcesosel" [style]="{width: '40vw'}">
    
    <div class="container">


        <div class="form-group col-sm-12 mb-4">
            <label for="float-input" class="mb-2">Descripción</label>
                <input id="float-input" class="form-control" type="text" [(ngModel)]="SelectedSubDes" pInputText> 
                
        </div>

        <div class="form-group col-sm-12 mb-4" *ngIf="procesoMatriz != null && editar == true && this.ProcesoSel>-1 && this.mostrarEstadoSub == true">
            <label for="indicadorBaja" class="mb-2">Estado</label>
            <br>
            <p-inputSwitch (onChange)="obtenerValorEstadoSub($event)"
                [(ngModel)]="indicadorEstadoSub"></p-inputSwitch>
        </div>

        <div class="container card-body p-text-right">
            <button type="button" class="btn btn-primary" (click)="ModificarSubProceso()" >
                Actualizar
            </button>
  
        </div>

    </div>

</p-dialog>

<div style="height: 50px;" class="bg-light"></div>
<div class="bg-light pb-5">
    <div class="container pt-2 bg-white mb-5">
        <div class="container sombraCards espacioBody pb-5" *ngIf="!loading">
            <div class="row d-flex">
                <div style="width: 4%" class="mt-4">
                    <button pButton type="button"
                            icon="pi pi-arrow-left"
                            class="p-button-danger p-button-rounded"
                            [routerLink]="[procesoMatriz == null ? '../':'../../']"
                    ></button>
                </div>
                <div style="width: 96%">
                    <h3 class="animated fadeIn fast mt-4" style="margin-bottom: -10px;"
                        *ngIf="procesoMatriz == null && editar == false">Configuración/Procesos por matriz/Crear Procesos por matriz
                        </h3>
                    <h3 class="animated fadeIn fast mt-4" style="margin-bottom: -10px;"
                        *ngIf="procesoMatriz != null && editar == true">Configuración/Procesos por matriz/Actualizar Procesos por matriz</h3>
                    <h3 class="animated fadeIn fast mt-4" style="margin-bottom: -10px;"
                        *ngIf="procesoMatriz != null && editar == false">Configuración/Procesos por matriz/Ver Procesos por matriz</h3>
                </div>
            </div>
            <hr>
            <br>
            <fieldset class="border p-2 animated fadeIn">
                
            <form [formGroup]="formularioMatrizNivel">
                
                    <!-- <legend class="w-auto" *ngIf="procesoMatriz == null">&nbsp;Crear procesos por matriz&nbsp;</legend>
                    <legend class="w-auto" *ngIf="procesoMatriz != null && editar == true">&nbsp;Actualizar procesos por matriz&nbsp;</legend>
                    <legend class="w-auto" *ngIf="procesoMatriz != null && editar == false">&nbsp;Ver procesos por matriz&nbsp;
                    </legend>

                    <br><br> -->
                    <div class="container">
                        <div class="row">

                            <div class="form-group col-md-12 mb-2">
                                <label for="idEmpresa" class="mb-2">Empresa</label>
                                <select [attr.disabled]="notadmin ? '' : null" formControlName="empresa" id="idEmpresa" class="form-select"
                                        (change)="onChangeEmpresa($event)"
                                        [class.is-invalid]="empresaNoValido" >
                                    <option value="" selected>Seleccione</option>
                                    <option *ngFor="let empresa of listaEmpresas"
                                            [value]="empresa.idEmpresa">{{ empresa.nombreCortoEmpresa}}</option>
                                </select>
                                <label *ngIf="empresaNoValido" id="validation-empresa-error"
                                       class="error jquery-validation-error small form-text invalid-feedback">Seleccione
                                    una empresa</label>
                            </div>

                            <div *ngIf="procesoMatriz != null && editar == true && procesoMatriz.indicadorBaja == 0" class="form-group col-md-12 mb-2">
                                <label for="idEstado" class="mb-2">Estado</label>
                                <select formControlName="idEstado" class="form-select" id="idEstado"
                                        (change)="onChangeEstado($event)">
                                    <option selected *ngFor="let estado of listaEstados"
                                            [value]="estado.nombreParametro">{{ estado.deValor1}}</option>
                                </select>
                            </div>
                            <br>

                            <div class="form-group col-md-12 mb-2" >
                                <label for="idDescripcion" class="mb-2">Proceso</label> <br>
                                <input type="text" class="form-control" formControlName="descripcionProceso"
                                       [class.is-invalid]="descripcionNoValido" [disabled]="procesoMatriz != null && editar == false"
                                       id="idDescripcion" placeholder="Ingrese la descripción del proceso"
                                       autocomplete="nope">
                                <label *ngIf="descripcionNoValido" id="validation-descripcion-error"
                                       class="error jquery-validation-error small form-text invalid-feedback">Ingrese
                                    una descripción</label>
                            </div>
                    </div>
                     
                </div>
            </form>

                            <div class="container card-body p-text-left">
                                <button type="button" label="Añadir Proceso" pButton pRipple icon="pi pi-eye"
                                        class="p-button-secondary p-mr-2"
                                        
                                        [disabled]="procesoMatriz != null && editar == false"
                                        (click)="agregarDescripcionProceso()" pButton icon="pi pi-plus"></button>
                            </div>


                            <!-- Tabla para agregar las descripciones  -->
                            <div class="container card-body">
                                <div *ngIf="!loadingProceso">
                                    <p-table #dt1 [value]="lstProcesos" [columns]="cols" dataKey="id" [rows]="5"
                                             [showCurrentPageReport]="true"
                                             [rowsPerPageOptions]="[5,15,25]"
                                             styleClass="p-datatable-responsive-demo p-datatable-gridlines"
                                             [paginator]="true"
                                             scrollDirection="both"
                                             [scrollable]="true"
                                             scrollHeight="500px"
                                             currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
                                             [globalFilterFields]="['deEmpresa','deProceso']">
                                        <ng-template pTemplate="caption">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="p-input-icon-left p-ml-auto">
                                                        <input pInputText type="text" class="form-control"
                                                               (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                                               placeholder="Buscar"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header" let-columns>
                                            <tr >
                                                <th class="text-center" width="100rem">
                                                    Selección
                                                </th>
                                                <th pSortableColumn="{{col.ordenadmiento}}" *ngFor="let col of columns"
                                                    class="{{col.headerClass}}" [width]="col.width">
                                                    {{col.header}}
                                                    <p-sortIcon field="{{col.ordenadmiento}}"></p-sortIcon>
                                                </th>
                                                <th class="text-center" width="150rem">
                                                    Acción
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                                            <tr *ngIf="rowData.indicadorBaja != '2'"> 
                                                <!-- *ngIf="rowData['indicadorBaja']==1" -->
                                                <td class="text-center" width="100rem">
                                                    <input *ngIf="lstProcesos.length==1" type="checkbox"  id="check{{this.findIndexById(rowData)}}" (change)="SelectProceso(rowData,$event)">
                                                    <input *ngIf="lstProcesos.length>1"  type="checkbox"  id="check{{this.findIndexById(rowData)}}" (change)="SelectProceso(rowData,$event)">

                                                </td>
                                                <td *ngFor="let col of columns" class="{{col.class}}" [width]="col.width" pEditableColumn>
                                                    <!-- <span class="p-column-title">{{col.header}}</span>
                                                    <span *ngIf="col.header == 'Estado'">{{rowData.indicadorBaja == 0 ? 'Inactivo' : 'Activo'}}</span>
                                                    <span *ngIf="col.header != 'Estado'">{{rowData[col.field]}}</span> -->
                                                    <!-- <span *ngIf="col.header == 'Estado'">
                                                        {{rowData.indicadorBaja == 0 ? 'Inactivo' : 'Activo'}}</span> -->
                                                    <span *ngIf="col.header == 'Estado'">
                                                        {{ rowData.indicadorBaja == '0' ? 'Inactivo' : (rowData.indicadorBaja == '2' ? 'Eliminado' : 'Activo') }}
                                                    </span>
                                                    <p-cellEditor>
                                                        <ng-template pTemplate="input">
                                                            
                                                            <input pInputText *ngIf="col.field != 'deProceso' && col.field != 'inMatrizOperacional' && col.field != 'inMatrizFraude'
                                                                       && col.field != 'inMatrizContinuidad' && col.field != 'inMatrizAnticorrupcion' && col.field != 'inMatrizOportunidad'
                                                                       && col.field != 'inMatrizEvento' && col.field != 'indicadorBaja'" 
                                                                   class="text-center" type="text" [(ngModel)]="rowData[col.field]" placeholder="{{col.placeholder}}"
                                                                   [value]="rowData[col.field] == undefined ? rowData[col.field] = '' : rowData[col.field]">

                                                            <input pInputText *ngIf="col.field == 'deProceso'" disabled
                                                                   class="text-center" [(ngModel)]="rowData[col.field]">

                                                            <select *ngIf="col.field == 'inMatrizOperacional'" [(ngModel)]="rowData[col.field]"  class="form-select" id="inMatrizOperacional"
                                                            [disabled] = "procesoMatriz != null && editar == false">
                                                               <option *ngFor="let indicador of listaIndicador"
                                                                      [value]="indicador.deValor1">{{ indicador.nombreParametro  }}</option>
                                                           </select>  
                                                           <select *ngIf="col.field == 'inMatrizFraude'" [(ngModel)]="rowData[col.field]"  class="form-select" id="inMatrizFraude"
                                                           [disabled] = "procesoMatriz != null && editar == false">
                                                               <option *ngFor="let indicador of listaIndicador"
                                                                      [value]="indicador.deValor1">{{ indicador.nombreParametro  }}</option>
                                                           </select>   
                                                           <select *ngIf="col.field == 'inMatrizContinuidad'" [(ngModel)]="rowData[col.field]"  class="form-select" id="inMatrizContinuidad"
                                                           [disabled] = "procesoMatriz != null && editar == false">
                                                               <option *ngFor="let indicador of listaIndicador"
                                                                      [value]="indicador.deValor1">{{ indicador.nombreParametro  }}</option>
                                                           </select>   
                                                           <select *ngIf="col.field == 'inMatrizAnticorrupcion'" [(ngModel)]="rowData[col.field]"  class="form-select" id="inMatrizAnticorrupcion"
                                                           [disabled] = "procesoMatriz != null && editar == false">
                                                               <option *ngFor="let indicador of listaIndicador"
                                                                      [value]="indicador.deValor1">{{ indicador.nombreParametro  }}</option>
                                                           </select>   
                                                           <select *ngIf="col.field == 'inMatrizOportunidad'" [(ngModel)]="rowData[col.field]"  class="form-select" id="inMatrizOportunidad"
                                                           [disabled] = "procesoMatriz != null && editar == false">
                                                               <option *ngFor="let indicador of listaIndicador"
                                                                      [value]="indicador.deValor1">{{ indicador.nombreParametro  }}</option>
                                                           </select>   
                                                           <select *ngIf="col.field == 'inMatrizEvento'" [(ngModel)]="rowData[col.field]"  class="form-select" id="inMatrizEvento"
                                                           [disabled] = "procesoMatriz != null && editar == false">
                                                               <option *ngFor="let indicador of listaIndicador"
                                                                      [value]="indicador.deValor1">{{ indicador.nombreParametro  }}</option>
                                                           </select>        
                                                        </ng-template>
                                                        <ng-template *ngIf="col.field != 'inMatrizOperacional' && col.field != 'inMatrizFraude'
                                                            && col.field != 'inMatrizContinuidad' && col.field != 'inMatrizAnticorrupcion' && col.field != 'inMatrizOportunidad'
                                                            && col.field != 'inMatrizEvento' && col.field != 'indicadorBaja'"  pTemplate="output">
                                                          
                                                            {{rowData[col.field]}}
                                                        </ng-template>

                                                        <ng-template *ngIf="col.field == 'inMatrizOperacional'" pTemplate="output">
                                                            <select *ngIf="col.field == 'inMatrizOperacional'" [(ngModel)]="rowData[col.field]"  disabled class="form-select-hide form-select" style="border: 0px solid #ced4da;border-radius: .25rem;background-image:url();background-color: white;" id="inMatrizOperacional"
                                                                    >
                                                                <option *ngFor="let indicador of listaIndicador"
                                                                        [value]="indicador.deValor1">{{ indicador.nombreParametro}}</option>
                                                            </select>
                                                        </ng-template>
                                                        <ng-template *ngIf="col.field == 'inMatrizFraude'" pTemplate="output">
                                                            <select *ngIf="col.field == 'inMatrizFraude'" [(ngModel)]="rowData[col.field]"  disabled class="form-select-hide form-select" style="border: 0px solid #ced4da;border-radius: .25rem;background-image:url();background-color: white;" id="inMatrizFraude"
                                                                    >
                                                                <option *ngFor="let indicador of listaIndicador"
                                                                        [value]="indicador.deValor1">{{ indicador.nombreParametro}}</option>
                                                            </select>
                                                        </ng-template>
                                                        <ng-template *ngIf="col.field == 'inMatrizContinuidad'" pTemplate="output">
                                                            <select *ngIf="col.field == 'inMatrizContinuidad'" [(ngModel)]="rowData[col.field]"  disabled class="form-select-hide form-select" style="border: 0px solid #ced4da;border-radius: .25rem;background-image:url();background-color: white;" id="inMatrizContinuidad"
                                                                    >
                                                                <option *ngFor="let indicador of listaIndicador"
                                                                        [value]="indicador.deValor1">{{ indicador.nombreParametro}}</option>
                                                            </select>
                                                        </ng-template>
                                                        <ng-template *ngIf="col.field == 'inMatrizAnticorrupcion'" pTemplate="output">
                                                            <select *ngIf="col.field == 'inMatrizAnticorrupcion'" [(ngModel)]="rowData[col.field]"  disabled class="form-select-hide form-select" style="border: 0px solid #ced4da;border-radius: .25rem;background-image:url();background-color: white;" id="inMatrizAnticorrupcion"
                                                                    >
                                                                <option *ngFor="let indicador of listaIndicador"
                                                                        [value]="indicador.deValor1">{{ indicador.nombreParametro}}</option>
                                                            </select>
                                                        </ng-template>
                                                        <ng-template *ngIf="col.field == 'inMatrizOportunidad'" pTemplate="output">
                                                            <select *ngIf="col.field == 'inMatrizOportunidad'" [(ngModel)]="rowData[col.field]"  disabled class="form-select-hide form-select" style="border: 0px solid #ced4da;border-radius: .25rem;background-image:url();background-color: white;" id="inMatrizOportunidad"
                                                                    >
                                                                <option *ngFor="let indicador of listaIndicador"
                                                                        [value]="indicador.deValor1">{{ indicador.nombreParametro}}</option>
                                                            </select>
                                                        </ng-template>
                                                        <ng-template *ngIf="col.field == 'inMatrizEvento'" pTemplate="output">
                                                            <select *ngIf="col.field == 'inMatrizEvento'" [(ngModel)]="rowData[col.field]"  disabled class="form-select-hide form-select" style="border: 0px solid #ced4da;border-radius: .25rem;background-image:url();background-color: white;" id="inMatrizEvento"
                                                                    >
                                                                <option *ngFor="let indicador of listaIndicador"
                                                                        [value]="indicador.deValor1">{{ indicador.nombreParametro}}</option>
                                                            </select>
                                                        </ng-template>
                                                    </p-cellEditor>               
                                                </td>
                                                <td class="text-center" width="150rem">
                                                    <button type="button" *ngIf="ver==false" pButton pRipple icon="pi pi-pencil"
                                                    class="p-button-rounded p-button-primary p-mr-2"
                                                    (click)="ModificarDescripcionProceso(rowData)"></button>

                                                    <button type="button" *ngIf="ver==false" pButton pRipple icon="pi pi-trash"
                                                            class="p-button-rounded p-button-danger"
                                                            (click)="eliminarDescripcionProceso(rowData)"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="summary" class="mb-5">
                                            <div class="p-d-flex p-ai-center p-jc-between">
                                                En total hay
                                                registrados {{this.lstProcesos ? this.lstProcesos.length : 0 }}
                                                procesos.
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="10">No se encontró ningún proceso.</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                                <!-- Skeleton -->
                                <div *ngIf="loadingProceso">
                                    <p-table [value]="listaVacia" [columns]="cols"
                                             styleClass="p-datatable-responsive-demo p-datatable-gridlines"
                                             [rows]="5" [showCurrentPageReport]="true">
                                             <ng-template pTemplate="caption">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <span class="p-input-icon-left p-ml-auto">
                                                            <input pInputText type="text" class="form-control"
                                                                   (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                                                   placeholder="Buscar"/>
                                                        </span>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th class="text-center" width="100rem">
                                                    Selección
                                                </th>
                                                <th *ngFor="let col of columns" class="text-center">
                                                    {{col.header}}
                                                </th>
                                                <th class="text-center">
                                                    Acción
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem" styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem" styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem" styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem" styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem" styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem" styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem" styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem" styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem" styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem" styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>

                            </div>
                            <!-- Tabla para agregar las descripciones  -->

                            <div class="form-group col-md-12 mb-2 container card-body p-text-left">
                                <label for="idDescripcion" class="mb-2">Subproceso</label> <br>
                                <input type="text" class="form-control" [disabled]="procesoMatriz != null && editar == false"
                                       [class.is-invalid]="descripcionNoValido"
                                       id="idSubDescripcion" placeholder="Ingrese la descripción del subproceso"
                                       autocomplete="nope">
                                <label *ngIf="descripcionNoValido" id="validation-descripcion-error"
                                       class="error jquery-validation-error small form-text invalid-feedback">Ingrese
                                    una descripción</label>
                            </div>

                            <div class="container card-body p-text-left">
                                <button type="button" label="Añadir Subproceso" pButton pRipple icon="pi pi-eye"
                                        class="p-button-secondary p-mr-2"
                                        [disabled]="procesoMatriz != null && editar == false"
                                        (click)="agregarDescripcionSubProceso()" pButton icon="pi pi-plus"></button>
                            </div>


                            <!-- Tabla para agregar las descripciones  -->
                            <div class="container card-body">
                                <div *ngIf="!loading">
                                    <p-table #dt2 [value]="lstSubProcesos" [columns]="colsSub" dataKey="id" [rows]="5"
                                             [showCurrentPageReport]="true"
                                             [rowsPerPageOptions]="[5,15,25]"
                                             styleClass="p-datatable-responsive-demo p-datatable-gridlines"
                                             [paginator]="true"
                                             currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
                                             [globalFilterFields]="['deSubProceso']">
                                        <ng-template pTemplate="caption">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="p-input-icon-left p-ml-auto">
                                                        <input pInputText type="text" class="form-control"
                                                               (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                                               placeholder="Buscar"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th pSortableColumn="{{col.ordenadmiento}}" *ngFor="let col of columns"
                                                    class="{{col.headerClass}}">
                                                    {{col.header}}
                                                    <p-sortIcon field="{{col.ordenadmiento}}"></p-sortIcon>
                                                </th>
                                                <th class="text-center">
                                                    Acción
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                                            <tr *ngIf="rowData.indicadorBaja != '2'">
                                                <td *ngFor="let col of columns" class="{{col.class}}">
                                                    <span class="p-column-title">{{col.header}}</span>
                                                    <!-- <span *ngIf="col.header == 'Estado'">{{rowData.indicadorBaja == 0 ? 'Inactivo' : 'Activo'}}</span> -->
                                                    <span *ngIf="col.header == 'Estado'">
                                                        {{ rowData.indicadorBaja == '0' ? 'Inactivo' : (rowData.indicadorBaja == '2' ? 'Eliminado' : 'Activo') }}
                                                    </span>
                                                    <span *ngIf="col.header != 'Estado'">{{rowData[col.field]}}</span>
                                                </td>
                                                <td class="text-center">

                                                    <button type="button" *ngIf="ver==false" pButton pRipple icon="pi pi-pencil"
                                                            class="p-button-rounded p-button-primary p-mr-2"
                                                            (click)="ModificarDescripcionSubProceso(rowIndex)"></button>


                                                    <button type="button" *ngIf="ver==false" pButton pRipple icon="pi pi-trash"
                                                            class="p-button-rounded p-button-danger"
                                                            (click)="eliminarDescripcionSubProceso(rowIndex)"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="summary" class="mb-5">
                                            <div class="p-d-flex p-ai-center p-jc-between">
                                                En total hay
                                                registrados {{this.lstSubProcesos ? this.lstSubProcesos.length : 0 }}
                                                subprocesos.
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="3">No se encontró ningún subproceso.</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                                <!-- Skeleton -->
                                <div *ngIf="loading">
                                    <p-table [value]="listaVacia" [columns]="colsSub"
                                             styleClass="p-datatable-responsive-demo p-datatable-gridlines"
                                             [rows]="5" [showCurrentPageReport]="true">
                                        <ng-template pTemplate="caption">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <span class="p-input-icon-left p-ml-auto">
                                                            <input pInputText type="text" class="form-control"
                                                                   (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                                                   placeholder="Buscar"/>
                                                        </span>
                                                    </div>
                                                </div>
                                        </ng-template>
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of columns" class="text-center">
                                                    {{col.header}}
                                                </th>
                                                <th class="text-center">
                                                    Acción
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem"
                                                                styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem"
                                                                styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem"
                                                                styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>

                            </div>

                            <div class="container card-body p-text-right pt-5" style="margin-left: -15px;">
                                <button type="submit" class="btn btn-primary" style="margin-right: 10px;"
                                        *ngIf="procesoMatriz == null" (click)="registrarProcesoMatriz()">Crear
                                </button>
                                <button type="submit" class="btn btn-primary" style="margin-right: 10px;"
                                        *ngIf="procesoMatriz != null && editar == true"
                                        (click)="actualizarProcesoMatriz()">Actualizar
                                </button>
                                <button type="button" class="btn btn-danger" [routerLink]="['..']"
                                        *ngIf="procesoMatriz == null">
                                    Cancelar
                                </button>
                                <button type="button" class="btn btn-danger"
                                        [routerLink]="['/pages','main','configuracion','matrizNivel']"
                                        *ngIf="procesoMatriz != null">Cancelar
                                </button>
                            </div>
                        
                </fieldset>
            
        </div>

        <!--Skeleton -->
        <div class="container sombraCards espacioBody" *ngIf="loading">
            <h3 class="animated fadeIn fast mt-4" style="margin-bottom: -10px;">
                <p-skeleton height="2rem" styleClass="p-mb-2"></p-skeleton>
            </h3>

            <br>
            <hr>
            <form [formGroup]="formularioMatrizNivel">
                <br>

                <fieldset class="border p-2 animated fadeIn">
                    <p-skeleton height="2rem" styleClass="p-mb-2"></p-skeleton>
                    <br><br>
                    <div class="container">
                        <div class="row">

                            <div class="form-group col-sm-12 mb-4">
                                <p-skeleton height="3rem" styleClass="p-mb-2"></p-skeleton>
                            </div>
                            <div class="form-group col-sm-12 mb-4">
                                <p-skeleton height="3rem" styleClass="p-mb-2"></p-skeleton>
                            </div>

                            <div class="container card-body p-text-right">
                                <p-skeleton height="3rem" styleClass="p-mb-2"></p-skeleton>
                            </div>
                        </div>
                        <br>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
