<div style="height: 50px;" class="bg-light"></div>

<p-dialog header="Creación de control" [(visible)]="popUpVisible" [style]="{width: '60vw'}">
    <div class="container">
        <div class="row">
            <form [formGroup]="formularioControl"
                  (ngSubmit)="control == null ? registrarDatosControl() : actualizarDatosControl()">

                <div class="form-group col-sm-12 mb-4">
                    <label for="idCodigoControl" class="mb-2">Codigo Control</label>
                    <input type="text" class="form-control" formControlName="idCodigoControl"
                           [class.is-invalid]="codigoControlNoValido"
                           id="idCodigoControl" placeholder="Codigo de detalle" autocomplete="nope">
                    <label *ngIf="codigoControlNoValido" id="validation-codigoDetalle-error"
                           class="error jquery-validation-error small form-text invalid-feedback">Ingrese un codigo
                        válido</label>
                </div>
                <div class="form-group col-md-12 mb-3">
                    <label for="idDescripcionControl" class="mb-2">Descripción ontrol</label> <br>
                    <textarea formControlName="descripcionControl" pInputTextarea
                              class="form-control"
                              placeholder="Descripción control"
                              rows="5" id="idDescripcionControl"
                              [class.is-invalid]="descripcionControlNoValido"></textarea>
                    <label *ngIf="descripcionControlNoValido" id="validation-descripcionControl-error"
                           class="error jquery-validation-error small form-text invalid-feedback">Ingrese
                        un control</label>
                </div>
                <br>

                <div class="container card-body p-text-right" style="margin-left: -15px;">
                    <button type="submit" class="btn btn-primary" style="margin-right: 10px;"
                            *ngIf="control == null">Crear
                    </button>
                    <button type="submit" class="btn btn-primary" style="margin-right: 10px;"
                            *ngIf="control != null">Actualizar
                    </button>
                    <button type="button" class="btn btn-danger" (click)="cerrarPopUp()">
                        Cancelar
                    </button>

                </div>
            </form>
        </div>
    </div>
</p-dialog>


<div class="bg-light pb-5">
    <div class="container pt-2 bg-white mb-5">
        <div class="container sombraCards espacioBody pb-5" *ngIf="!loading">
            <h3 class="animated fadeIn fast mt-4" style="margin-bottom: -10px;"
                *ngIf="riesgoPorControl == null && editar == false">OPCIÓN
                NUEVO</h3>
            <h3 class="animated fadeIn fast mt-4" style="margin-bottom: -10px;"
                *ngIf="riesgoPorControl != null && editar == true">EDITAR</h3>
            <h3 class="animated fadeIn fast mt-4" style="margin-bottom: -10px;"
                *ngIf="riesgoPorControl != null && editar == false">DETALLE</h3>
            <br>
            <hr>
            <form [formGroup]="formularioRiesgoControl"
                  (ngSubmit)=" riesgoPorControl == null ? registrarRiesgoPorControl() : actualizarRiesgoPorControl()">
                <br>

                <fieldset class="border p-2 animated fadeIn">
                    <legend class="w-auto" *ngIf="riesgoPorControl == null">&nbsp;Crear riesgo por control&nbsp;
                    </legend>
                    <legend class="w-auto" *ngIf="riesgoPorControl != null && editar == true">&nbsp;Actualizar riesgo
                        por control
                    </legend>
                    <legend class="w-auto" *ngIf="riesgoPorControl != null && editar == false">&nbsp;Detalle riesgo por
                        control&nbsp;
                    </legend>

                    <br><br>
                    <div class="container">
                        <div class="row">

                            <div class="form-group col-md-12 mb-2">
                                <label for="idCodigoRiesgo" class="mb-2">Código de Riesgo</label>
                                <input type="text" class="form-control" pInputText pKeyFilter="num"
                                       formControlName="codigoRiesgo"
                                       [class.is-invalid]="codigoRiesgoNoValido"
                                       id="idCodigoRiesgo" autocomplete="nope">
                                <label *ngIf="codigoRiesgoNoValido" id="validation-codigoRiesgo-error"
                                       class="error jquery-validation-error small form-text invalid-feedback">Ingrese un
                                    código de riesgo</label>
                            </div>

                            <div class="form-group col-md-12 mb-3">
                                <label for="idDescripcionRiesgo" class="mb-2">Riesgo</label> <br>
                                <textarea formControlName="descripcionRiesgo" pInputTextarea
                                          class="form-control"
                                          rows="5" id="idDescripcionRiesgo"
                                          [class.is-invalid]="descripcionRiesgolNoValido">
                                </textarea>
                                <label *ngIf="descripcionRiesgoNoValido" id="validation-descripcionRiesgo-error"
                                       class="error jquery-validation-error small form-text invalid-feedback">Ingrese
                                    un riesgo</label>
                            </div>

                            <!--
                            <div class="form-group col-md-12 mb-3">
                                <label for="idDescripcionControl" class="mb-2">Control</label> <br>
                                <textarea formControlName="descripcionControl" pInputTextarea
                                          class="form-control"
                                          rows="5" id="idDescripcionControl"
                                          [class.is-invalid]="descripcionControllNoValido">
                                </textarea>
                                <label *ngIf="descripcionControllNoValido" id="validation-descripcionControl-error"
                                       class="error jquery-validation-error small form-text invalid-feedback">Ingrese
                                    un control</label>
                            </div>
                            -->

                            <div class="container card-body p-text-left">
                                <button type="button" label="Añadir" pButton pRipple icon="pi pi-eye"
                                        class="p-button-secondary p-mr-2" onsubmit="return false;"
                                        (click)="mostrarPopUpAgregarControl()" pButton icon="pi pi-plus"></button>
                            </div>


                            <!-- Tabla para agregar los controles  -->
                            <div class="container card-body">
                                <div *ngIf="!loading">
                                    <p-table #dt1 [value]="listaControles" [columns]="cols" dataKey="id" [rows]="5"
                                             [showCurrentPageReport]="true"
                                             [rowsPerPageOptions]="[5,15,25]"
                                             styleClass="p-datatable-responsive-demo p-datatable-gridlines"
                                             [paginator]="true"
                                             currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
                                             [globalFilterFields]="['deSistema','deClasePrincipal','deClaseSecundaria']">
                                        <ng-template pTemplate="caption">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="p-input-icon-left p-ml-auto">
                                                        <input pInputText type="text" class="form-control"
                                                               (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                                               placeholder="Buscar control"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th pSortableColumn="{{col.ordenadmiento}}" *ngFor="let col of columns"
                                                    class="{{col.headerClass}}">
                                                    {{col.header}}
                                                    <p-sortIcon field="{{col.ordenadmiento}}"></p-sortIcon>
                                                </th>
                                                <th class="text-center">
                                                    Acción
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr>
                                                <td *ngFor="let col of columns" class="{{col.class}}">
                                                    <span class="p-column-title">{{col.header}}</span>
                                                    {{rowData[col.field]}}
                                                </td>
                                                <td class="text-center">
                                                    <button pButton pRipple icon="pi pi-trash"
                                                            class="p-button-rounded p-button-danger"
                                                            (click)="eliminarDescripcionProceso(rowData.idProceso)"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="summary" class="mb-5">
                                            <div class="p-d-flex p-ai-center p-jc-between">
                                                En total hay
                                                agregados {{this.listaControles ? this.listaControles.length : 0 }}
                                                controles.
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="4">No se encontró ningún control.</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                                <!-- Skeleton -->
                                <div *ngIf="loading">
                                    <p-table [value]="listaVacia" [columns]="cols"
                                             styleClass="p-datatable-responsive-demo p-datatable-gridlines"
                                             [rows]="5" [showCurrentPageReport]="true">
                                        <ng-template pTemplate="caption">
                                            <div class="row">
                                                <div class="col-md-6">
                                    <span class="p-input-icon-left p-ml-auto">
                                    </span>
                                                </div>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of columns" class="text-center">
                                                    {{col.header}}
                                                </th>
                                                <th class="text-center">
                                                    Acción
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem"
                                                                styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem"
                                                                styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                                <td>
                                                    <p-skeleton class="col-sm-6" height="3rem"
                                                                styleClass="p-mb-2"></p-skeleton>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>

                            </div>
                            <!-- Tabla para agregar las descripciones  -->


                            <div class="container card-body p-text-right pt-5" style="margin-left: -15px;">
                                <button type="submit" class="btn btn-primary" style="margin-right: 10px;"
                                        *ngIf="riesgoPorControl == null">Crear
                                </button>
                                <button type="submit" class="btn btn-primary" style="margin-right: 10px;"
                                        *ngIf="riesgoPorControl != null && editar == true">Actualizar
                                </button>
                                <button type="button" class="btn btn-danger" [routerLink]="['..']"
                                        *ngIf="riesgoPorControl == null">
                                    Cancelar
                                </button>
                                <button type="button" class="btn btn-danger"
                                        [routerLink]="['/pages','main','configuracion','riesgoControl']"
                                        *ngIf="riesgoPorControl != null">Cancelar
                                </button>
                            </div>
                        </div>
                        <br>
                    </div>
                </fieldset>
            </form>
        </div>

        <!--Skeleton -->
        <div class="container sombraCards espacioBody" *ngIf="loading">
            <h3 class="animated fadeIn fast mt-4" style="margin-bottom: -10px;">
                <p-skeleton height="2rem" styleClass="p-mb-2"></p-skeleton>
            </h3>

            <br>
            <hr>
            <form [formGroup]="formularioRiesgoControl"
                  (ngSubmit)="riesgoPorControl == null ? registrarRiesgoPorControl() : actualizarRiesgoPorControl()">
                <br>

                <fieldset class="border p-2 animated fadeIn">
                    <p-skeleton height="2rem" styleClass="p-mb-2"></p-skeleton>
                    <br><br>
                    <div class="container">
                        <div class="row">

                            <div class="form-group col-sm-12 mb-4">
                                <p-skeleton height="3rem" styleClass="p-mb-2"></p-skeleton>
                            </div>
                            <div class="form-group col-sm-12 mb-4">
                                <p-skeleton height="3rem" styleClass="p-mb-2"></p-skeleton>
                            </div>
                            <div class="container card-body p-text-right">
                                <p-skeleton height="3rem" styleClass="p-mb-2"></p-skeleton>
                            </div>
                        </div>
                        <br>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
