<div style="height: 50px;" class="bg-light"></div>
<div class="bg-light">
  <div class="container pt-4 bg-white">
    <div class="container sombraCards espacioBody pb-5">

          <div class="row d-flex">
            <div style="width: 4%">
                <button pButton type="button" icon="pi pi-arrow-left" class="p-button-danger p-button-rounded"
                        [routerLink]="['../menu']"></button>
            </div>
            <div style="width: 96%">
                <h3 class="animated fadeIn fast" style="margin-bottom: -10px;">Dashboard/Matriz de Riesgo de Fraude</h3>
            </div>
          </div>
           
            <br>
            <hr>

            <app-headergraf2 (empresaChange)="empresaChange($event)" (periodoChange)="periodoChange($event)"></app-headergraf2>

            <br>


          <div class="container sombraCards espacioBody pb-5" *ngIf="ocultarTitulo">
              <header>               
                <h3 class="animated fadeIn fast mt-4" style="margin-bottom: -10px;">Cantidad de Riesgos de Fraude</h3>
            </header>

              <div style="text-align:left;">
                  <table style="margin: 0 auto;">
                      <tr>
                          <td >

                            <app-piegraffraude #chart5 [idEmpresa]="idEmpresa" [idPeriodo]="idPeriodo"></app-piegraffraude>

                          </td>
                      </tr>


                  </table>
                  <td style="height: 10px;"></td>
              </div>
          </div>

          <div class="container sombraCards espacioBody pb-5" *ngIf="ocultarCumplimiento">
               <header>
              <h3 class="animated fadeIn fast mt-4" style="margin-bottom: 10px; text-align: center;">KRI: Cumplimiento de Planes de Acción</h3>
              <div class="cumplimiento container" style="margin-bottom: -25px;"><b>Cumplimiento de planes de acción : <h1><p style="font-weight: bold;">{{ porcentaje }} </p></h1></b></div>
               </header>
               <td style="height: 30px;"></td>
              <table style="margin: 0 auto;">

                  <tr>                   

                    <td style="width: 280px;text-align:center; border: 1px;">

                        <app-bargraf2 #chart3 [isoperacional]="isoperacional" [idEmpresa]="idEmpresa" [idPeriodo]="idPeriodo" [idMatriz]="idMatriz"></app-bargraf2>

                    </td>                   
                  </tr>
              </table>
          </div>

        </div>
      </div>
</div>
