<div class="container login-background min-vh-100">
    <div class="login-imagen-background row min-vh-100 justify-content-center align-items-center">
        <div class="container">
            <div class="container login-card" style="background-color: #f20016;">
                <div class="col-auto m-4">
                    <div class="row" style="font-family: Roboto;">
                        <div class="d-flex justify-content-center align-items-center col-md-7 p-4">
                            <div class="col-md-12" style="text-align: center;">
                                <div style="width: 400px;margin: auto;">
                                    <div
                                        style="font-size: 80px;color: white;font-weight: 700;text-align: center;line-height: 70px;">
                                        GRC</div>
                                    <div class="col-md-12"
                                        style="font-size: 27px;color: white;text-align: justify;line-height: 29px;">
                                        PLATAFORMA GOBIERNO,
                                    </div>
                                    <div class="col-md-12"
                                        style="font-size: 27px;color: white;text-align: justify;line-height: 29px;">
                                        RIESGO Y CUMPLIMIENTO
                                        <p
                                            style="margin-top: 7px;margin-right: 5px;border: 0;background-color: white;height: 2px;">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 bg-light p-2 login-form col-10 mx-auto mb-3">
                            <div class="text-center m-5">
                                <img src="assets/imagenes/logoFonafe.png" class="col-md-12 col-12">
                            </div>
                            <div class="container">
                                <form [formGroup]="formularioForgotPWd" (ngSubmit)="resetPassword()">
                                    <div class="p-field">
                                        
                                        <b><h1>Recuperar Contraseña :</h1></b>
                                        <p>Si olvidaste tu contraseña, puedes iniciar un proceso de recuperación.</p>
                                        <p>Te enviaremos todos los detalles a tu correo electrónico.</p>
                                        
                                        <input type="email" class="form-control mt-1" id="email" name="email"
                                        [class.is-invalid]="correoNoValido" autocomplete="off" formControlName="email"
                                        placeholder="Correo electrónico" />
                                        <label *ngIf="correoNoValido" id="validation-email-error"
                                               class="error jquery-validation-error small form-text invalid-feedback">Ingrese
                                            un correo
                                            válido</label>
                                    </div>
                                    <button class="btn btn-primary btn-lg col-md-12 col-12 mb-4"
                                    style="font-size: 17px !important;"
                                    type="submit"><span>Enviar</span></button>
                            
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>